$background-header: rgb(40, 42, 46);
$background-nav: rgb(32, 34, 36);
$background-header-footer: rgb(46, 48, 54);
$background-main: rgb(54, 56, 62);
$color-black: rgb(26, 26, 26);
$color-blue: rgb(114, 136, 218);
$color-green: rgb(68, 182, 130);
$color-white: rgb(240, 244, 255);
$font-family-text: "acumin-pro", sans-serif;

body {
  outline: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@mixin circle($color, $heigh, $width) {
  background: $color;
  height: $heigh;
  width: $width;
  left: 10px;
  top: 5px;
  position: relative;
  border-radius: 100px;
}

@keyframes slide-in-left-alt {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
    -webkit-animation: slide-in-left-alt 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: slide-in-left-alt 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  display: table;
}

.mainAll {
  -webkit-animation: slide-in-left-alt 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slide-in-left-alt 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.nav {
  background: $background-nav;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  display: table-cell;
  width: 70px;
  height: 660px;
  & .initial-circle {
    margin: 30px 0 0 0;
    @include circle($color-blue, 46px, 46px);
  }
  & .second-nav {
    bottom: 190px;
    position: relative;
  }
}

.user-nav {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  display: table-cell;
  background: $background-header;
  width: 266px;
  height: 658px;
  & .h1-container {
    color: #fff;
    font-family: $font-family-text;
    position: relative;
    left: 10px;
    font-size: 25px;
    top: -15px;
  }
  & .nav-name {
    display: flex;
    position: relative;
    top: -53px;
    border-bottom: solid 1px #141214;
  }
}

.user-container {
  background: $background-header-footer;
  color: #fff;
  height: 61px;
  position: relative;
  top: 83px;
  & .server-status {
    @include circle($background-nav, 46px, 46px);
  }
  & .green-circle2 {
    @include circle($color-green, 10px, 11px);
    position: relative;
    position: absolute;
    left: 46px;
    top: 40px;
  }
  & .user-name {
    display: flex;
    position: relative;
    bottom: 30px;
    left: 70px;
    font-family: $font-family-text;
    font-size: 18px;
  }
  & .name-circle {
    @include circle($color-blue, 10px, 11px);
    position: absolute;
    left: 230px;
    top: 20px;
  }
  & .name-circle2 {
    @include circle($color-blue, 10px, 11px);
    position: absolute;
    left: 190px;
    top: 20px;
  }
  & .name-circle3 {
    @include circle($color-blue, 10px, 11px);
    position: absolute;
    left: 210px;
    top: 20px;
  }
}

.general-nav {
  background: $background-main;
  display: flex;
  width: 1020px;
  height: 58px;
  border-bottom: solid 1px #141214;
  border-left: solid 2px $background-main;
  position: fixed;
  & .general-span {
    color: #fff;
    font-size: 25px;
    position: relative;
    left: 20px;
    top: 15px;
    font-family: $font-family-text;
    display: flex;
  }
  & .little-circles {
    & .circles0 {
      @include circle($color-blue, 13px, 14px);
      left: -29px;
    }
    & .circles1 {
      @include circle($color-blue, 13px, 14px);
      left: -19px;
    }
    & .circles2 {
      @include circle($color-blue, 13px, 14px);
      left: -9px;
    }
    & .inputView {
      background: $background-header;
      color: $color-white;
      border: none;
      border-radius: 0.25rem;
      height: 29px;
      margin: 0 9px 0;
      outline: none;
    }
    display: flex;
    position: relative;
    flex-direction: row;
    left: 650px;
  }
}

.channel-group {
  overflow: hidden;
  & .channel-tlt1 {
    font-family: $font-family-text;
    position: relative;
    color: rgba($color-white, 0.3);
    font-size: 23px;
    margin-left: 10px;
  }
  & .channel-tlt2 {
    font-family: $font-family-text;
    position: relative;
    color: rgba($color-white, 0.3);
    font-size: 23px;
    margin-left: 10px;
    top: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  & .groups {
    display: flex;
    flex-direction: column;
    font-family: $font-family-text;
    position: relative;
    color: rgba($color-white, 0.3);
    margin-left: 19px;
    top: 14px;
  }
  & .span {
    font-size: 25px;
    position: relative;
    margin-top: 20px;
    font-size: 23px;
    margin: 15px;
    &:hover {
      background: rgba($color-white, 0.05);
      border-radius: 2rem;
      color: $color-white;
    }
  }
}

.chat {
  background: $background-main;
  position: relative;
  top: 59px;
  left: -320px;
  width: 660px;
  height: 600px;
  overflow: unset;
  & .input-div {
    position: relative;
    position: absolute;
    display: flex;
    top: 540px;
    left: 30px;
  }
  & .input {
    width: 600px;
    position: fixed;
    height: 40px;
    background: lighten($background-main, 5%);
    border: none;
    outline: none;
    color: rgba($color-white, 0.75);
    word-break: break-word;
    font: normal 1.25rem / 100% $font-family-text;
    padding: 0 0 0 10px;
  }
  & .chat-image {
    @include circle($background-nav, 46px, 48px);
    position: relative;
    top: 20px;
    left: -20px;
  }
  & .span-chat {
    font-family: $font-family-text;
    color: $color-white;
    font-size: 20px;
    position: relative;
    left: -5px;
    top: -7px;
    font-weight: bold;
  }
  & .chat-hour{
    font-size: 0.7rem;
    color: rgb(190, 190, 194);
    font-family: $font-family-text;
    position: relative;
    left: 3px;
  }
  & .ul-div {
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px ;
    width: 90%;
  }
   & .conversation {
     font-family: $font-family-text;
     color: $color-white;
     font-size: 17px;
     display: flex;
     align-self: center;
     position: relative;
     left: 42px;
     width: 90%;
     font-weight: 545;     
   }

}

.online {
  position: relative;
  left: 658px;
  height: 599px;
  width: 390px;
  top: 58px;
  background: $background-header;
  position: absolute;
  & .last-circle {
    @include circle($background-nav, 46px, 48px);
    position: absolute;
    position: relative;
    top: 60px;
  }
  & .online-span {
    color: rgba($color-white, 0.5);
    font-family: $font-family-text;
    font-size: 19px;
    position: relative;
    padding: 13px;
    top: -10px;
    left: -40px;
  }
  & .online-username {
    color: rgba($color-white, 1.2);
    font-family: $font-family-text;
    position: relative;
    left: 65px;
    top: 19px;
    font-size: 18px;
    width: 100%;
  }
  & .green-circle {
    @include circle($color-green, 10px, 11px);
    position: relative;
    position: absolute;
    left: 43px;
    top: 96px;
  }
}

@media screen and (max-width: 848px) {
 .chat {
   position: absolute;
    position: relative;
    right: 90px;
 } .nav {
   display: none;
 }
 .user-nav{
   display: none;
 }
 .input-div {
   position: relative;
   position: absolute;
 }
 .input {
   position: relative;
   position: absolute;
   width: 423px !important;
   top: 595px;
 }

}
