$grey-bg: #23272a;
$blurple: #7289da;
$green: #00fa9a;
$font-family-text: "acumin-pro", sans-serif;
$color-black: rgb(0, 0, 0);
$color-white: rgb(240, 244, 255);
$background-1: rgb(50, 50, 53);

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.home {
  background: url("https://www.advertise.racing/img/discord_dark.png");
  background-size: cover;
  min-height: 100vh;
}

.title-container {
  display: flex;
  justify-content: center;
}

.h1-tlt {
  font-weight: 700;
  font-size: 35px;
  margin-top: 30px;
  color: #fff;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.LoginForms {
  display: flex;
  justify-content: center;
}

.btn-1 {
  height: 44px;
  border-radius: 20px;
  font-size: 16px;
  width: 30%;
  margin: 10px;
  border: none;
  align-self: center;
  color: #fff;
  cursor: pointer;
  background-color: $blurple;
  @media screen and (max-width: 848px) {
    width: 80%;
  }
}

.btn-2 {
  font-size: 16px;
  margin: 2%;
  height: 44px;
  border-radius: 20px;
  width: 30%;
  border: none;
  color: #fff;
  background-color: $blurple;
  cursor: pointer;
  @media screen and (max-width: 848px) {
    width: 60%;
  }
}

.img1 {
  height: 190px;
  -webkit-animation-name: float-landing-2wj_IS;
  animation-name: float-landing-2wj_IS;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.img-container {
  display: flex;
  justify-content: center;
}

@keyframes float-landing-2wj_IS {
  0% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(5px, -14px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}

@keyframes slide-in-left-alt {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.ImageSelect-container {
  background: white linear-gradient(135deg, $background-1, $color-black);
  min-height: 100vh;
  -webkit-animation: slide-in-left-alt 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: slide-in-left-alt 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  & .ImageSelect-container-Title {
    font-family: $font-family-text;
    color: $color-white;
    font-size: 31px;
    position: relative;
    top: 20px;
    font-size: 24px;
    @media screen and (max-width: 848px) {
      font-size: 19px;
   }
  }
  & .ImageSelectTLT {
    display: flex;
    justify-content: center;
  }
  & .appearImage {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    @media screen and (max-width: 648px) {
      flex-wrap: wrap;
      margin-left: 55px;
      margin-right: 55px;
      & .selectImageAppear {
        width: 30%;
        height: auto;
      }
   }
  }
  & .selectImageAppear {
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
  }
}

.btn-containerImage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow:hover,
.grow:focus,
grow:after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 2px solid #00fa9a;
}

.active {
  border: 2px solid #00fa90;
}
