$grey-bg: #23272a;
$blurple: #7289da;
$green: #00fa9a;
$font-family-text: "acumin-pro", sans-serif;
$color-black: rgb(0, 0, 0);
$color-white: rgb(240, 244, 255);
$background-1: rgb(50, 50, 53);

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.home {
  background: url('../../assets/background.png') no-repeat
    center center fixed;
  background-size: cover;
  height: 100vh;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginForms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  height: 44px;
  border-radius: 20px;
  font-size: 16px;
  width: 30%;
  margin: 10px;
  border: none;
  align-self: center;
  color: #fff;
  cursor: pointer;
  background-color: $blurple;
  @media screen and (max-width: 848px) {
    width: 80%;
  }
}

.btn-2 {
  font-size: 16px;
  margin: 2%;
  height: 44px;
  border-radius: 20px;
  width: 30%;
  border: none;
  color: #fff;
  background-color: $blurple;
  cursor: pointer;
  @media screen and (max-width: 848px) {
    width: 60%;
  }
}

.img1 {
  height: 190px;
  -webkit-animation-name: float-landing-2wj_IS;
  animation-name: float-landing-2wj_IS;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.img-container {
  display: flex;
  justify-content: center;
}

@keyframes float-landing-2wj_IS {
  0% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(5px, -14px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
  }
}

@keyframes slide-in-left-alt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ImageSelect-container {
  background: white linear-gradient(135deg, $background-1, $color-black);
  min-height: 100vh;
  animation: slide-in-left-alt 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  & .ImageSelect-container-Title {
    font-family: $font-family-text;
    color: $color-white;
    font-size: 31px;
    position: relative;
    top: 20px;
    font-size: 24px;
    @media screen and (max-width: 848px) {
      font-size: 19px;
    }
  }
  & .ImageSelectTLT {
    display: flex;
    justify-content: center;
  }
  & .appearImage {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    @media screen and (max-width: 648px) {
      flex-wrap: wrap;
      & .selectImageAppear {
        width: 30%;
        height: auto;
      }
    }
  }
  & .selectImageAppear {
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
  }
}

.btn-containerImage {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: transform;
  border: 2px solid transparent;
  height: 105px;
}
.grow:hover {
  transition: all 0.3s ease;
  border: 2px solid #00fa9a;
}

.active {
  border: 2px solid #00fa90;
}
